.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* minus the height of the navbar and footer */
  position: relative; /* Required for pseudo-element positioning */
  z-index: 1; /* Ensure content appears above the background */
}

.main h1,
.main h2,
.main p {
  color: rgb(var(--foreground-rgb));
}

[data-theme="dark"] .main h1,
[data-theme="dark"] .main h2,
[data-theme="dark"] .main p {
  color: #FFFFFF; /* Light text for dark theme */
}

[data-theme="light"] .main h1,
[data-theme="light"] .main h2,
[data-theme="light"] .main p {
  color: #000000; /* Dark text for light theme */
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/hero.jpg'), linear-gradient(#000, #000); /* default is transparent for dark mode */
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  z-index: -1; /* Place the background behind the content */
}

[data-theme="light"] .main::before {
  filter: invert(1); /* Apply filter only to the background image */
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: var(--border-radius);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  width: 100%;
  margin-left: 1rem;
}

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(240, 240, 240, 0);
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, var(--accent-color), #0077B6) 1;
  transition: all 0.3s ease;
  max-width: 350px;
}

[data-theme='dark'] .card,
[data-theme='dark'] .card h2,
[data-theme='dark'] .card p {
  color: white;
}

[data-theme='light'] .card p {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  width: 100%;
  height: 100%;
}

.navbar, .footer {
  height: 80px;
  background: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 0 1rem; /* Add some padding */
}

[data-theme='light'] .navbar, [data-theme='light'] .footer {
  background-color: white;
  color: black;
}

[data-theme='dark'] .navbar, [data-theme='dark'] .footer {
  background-color: black;
  color: white;
}

.navbar-content {
  width: 100%; /* Make sure it spans the full width */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Place items at each end */
  align-items: center; /* Center items vertically */
}

.navbar .navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(var(--foreground-rgb));
  text-shadow: 0 0 10px var(--accent-color);
}

.navbar-icon {
  height: 128px;
  width: 96px;
  clip-path: inset(35% 0% 35% 0%);
}

[data-theme="light"] .navbar-icon {
  filter: invert(1);
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between Shop link and Login button */
}

.action-button {
  background-color: #6c757d; /* Bootstrap's btn-secondary color */
  border: none;
  color: white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.action-button:hover {
  background-color: #5a6268; /* Darker shade for hover effect */
}

.nav-link {
  color: rgb(var(--foreground-rgb));
  font-weight: bold;
  text-decoration: none;
}

.nav-link-shop:hover {
  color: #e0e0e0; /* A lighter shade for hover effect */
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 80px;
  flex-direction: column;
  padding: 0 1rem;
}

.footer p {
  margin: 0;
  text-align: center;
}

.theme-toggle-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  color: rgb(var(--foreground-rgb));
  transition: color 0.3s ease;
}

.theme-toggle-footer:hover {
  color: var(--accent-color);
}

.shop-container {
  display: flex;
  flex-direction: column; /* This will stack the elements vertically */
  align-items: center; /* Center items horizontally if needed */
  gap: 20px; /* Space between sections */
}

.shop-section {
  width: 100%; /* Full width for better responsiveness */
  max-width: 400px; /* Optional: Set a max-width if you want to limit the width */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    padding:1 rem;
    background: rgba(255, 0, 100, 0.1);
    border: 2px solid;
    box-shadow: 0 0 15px rgba(255, 0, 100, 0.5);
    transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .main {
    min-height: calc(100vh - 160px); /* Ensure content fits with footer */
  }

  .main > div:first-child {
    margin-top: 0;
  }
  
  .main, .main > div {
    overflow: visible;
  }

  [data-theme="dark"] .main, 
  [data-theme="dark"] .main h1 {
    background-color: rgb(var(--background-start-rgb));
    color: #FFFBF0
  }

  [data-theme="light"] .main {
    background-color: #FFFBF0;
  }

  .main::before {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure footer is above main content and background */
  }

  .navbar-content {
    justify-content: flex-end; /* Aligns items to the right */
  }

  .navbar-actions {
    margin-left: auto; /* Pushes the actions to the right */
  }
  
  .content {
    padding: 4rem;
  }

  .card {
    padding: 0.5rem
  }

  .card h2 {
    margin-bottom: 0.25rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.25);
    background: linear-gradient(to bottom,
        rgba(245, 245, 245, 1),
        rgba(255, 255, 255, 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: auto;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}