.playlist {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .tracklist {
    list-style: none;
    padding: 0;
  }
  
  .track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .trackInfo {
    flex-grow: 1;
    color: #000;
  }
  
  .trackDuration {
    margin-right: 15px;
    color: #000;
  }
  
  .playButton {
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }