/* General styles for both audio and video players */
.volume {
    width:100px;
  }
  
.soundDiv {
    display: flex;
    gap:15px;
    font-size: 20px;
    align-items:center;
    width: 300px;
    justify-content: flex-end;
  }

.pauseplay {
    font-size: 35px;
    transition: transform 0.2s;
}

.pauseplay:hover {
    transform: scale(1.1);
}

.forback {
    font-size: 16px;
    transition: transform 0.2s;
}

.forback:hover {
    transform: scale(1.4);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.progress {
    width:400px;
}

.progress .ant-slider-track {
    background-color: #A7A7A7;
}

.progress .ant-slider-handle {
    background-color: transparent;
}

.cover {
    height: 80px;
}

.songTitle {
    font-size: 16px;
    color: white;
}

.songArtist {
    font-size: 12px;
}

/* Styles specific to the audio player */
.audio-player {
    width: 100%;
}

/* Styles for video player layout */
.video-player {
    width: 100%;
}

.videoContainer {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoContainer > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Adjustments for when playing video */
.video-player .info {
    margin-top: 20px; /* More space after video for info */
}

.video-player .cover {
    margin-right: 10px; /* Space between video and cover image */
}
