.videoGrid {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.playerWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
  
.videoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
}

.videoThumbnail {
  width: 100%;
  height: auto;
}

.videoTitle {
  font-size: 16px;
  margin-top: 10px;
  color: #000;
  text-align: center;
}

.playButton {
  margin-top: 10px;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
    cursor: pointer;
}
 