.widget {
    position: fixed;
    width: 300px;
    color: rgb(var(--foreground-rgb));
    background: rgba(var(--background-start-rgb), 0.9);
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, var(--accent-color), #0077B6) 1;
    box-shadow: 0 0 15px rgba(255, 0, 100, 0.2);
    padding: 10px;
    z-index: 1000;
  }
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(var(--foreground-rgb));
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .closeButton:hover {
    transform: scale(1.1);
    color: var(--accent-color);
    text-shadow: 0 0 5px var(--accent-color);
  }

  .widget h3, .songInfo {
    color: rgb(var(--foreground-rgb))
  }